#DataFrame Worksheet 1

In [1]:
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
pd.options.mode.chained_assignment = None

Populating the interactive namespace from numpy and matplotlib

##Exercise 1
In the ```/Data``` folder there is a file called ```twitter1.csv```.  Create a data frame of this data called twitterData.  We will be using this for subsequent exercises.  

HINT: You probably will have to expirement with the encoding to get this to read.  A list of Python encodings is available here: https://docs.python.org/3/library/codecs.html#standard-encodings

In [5]:
twitterData = pd.read_csv('../../Data/twitter1.csv', encoding='latin-1')

##Exercise 2
In the ```/Data``` folder, there is an Excel spreadsheet containing a listing for every terrorist attack since 2006.  Create a DataFrame called ```terrorData``` which we will use later.

##Exercise 3
In the ```/Data``` folder, there is an apache log file sample called ```apache-log-sample1.txt```.  Read this data into a DataFrame using the ```read_csv()``` function.  In order to make this work, you will have to use the ```sep``` option which specifies the field delimiting character as well as the ```quotechar``` argument.

##Exercise 4
Using the ```twitterData``` DataFrame and the commands we have learned thus far and create a Series called ```tweetCounts``` which contains the user name and how many tweets each user posted.  Next, output the top 10 "tweeters".

In [9]:
twitterData['Username'].value_counts().head(10)

HoolohaTube        155
Rasu24             150
HOOLOHASPORT       126
mahboobali3        119
EminemsRealWife    116
byezekiel           89
MyrtleMuelr         83
LucindaFischer      79
DebraRichayd        77
JeanieNoble         70
dtype: int64

##Exercise 5
Using the original twitter data set, create a second DataFrame called ```twitterSummary``` which contains the following columns:
* Username
* Friends 
* Followers


Next add a column called ```ffratio``` which contains the ratio of friends to followers.

In [11]:
twitterSummary = twitterData[['Username', 'Friends', 'Followers']]
twitterSummary['ffratio'] = twitterSummary['Friends'] / twitterSummary['Followers']
twitterSummary.head()

         Username  Friends  Followers   ffratio
0    _prettybrown     1042       1538  0.677503
1  CarlyManning24      278        304  0.914474
2  madzLuvzLakers      619       1039  0.595765
3        _AyyJayy      203        204  0.995098
4     Akeemoneale      165         27  6.111111

##Exercise 6
Using the twitter data, find all the users with Facebook accounts and create a new column called ```FacebookID``` which contains the users' Facebook ID.  As you can see in the URL below, a user's Facebook ID can be found in the URL column, http://www.facebook.com/profile.php?id=5141860.  Extract this by using the ```str.extract``` function. Don't forget to remove all the invalid or empty IDs.

In [16]:
twitterDataWithFB = twitterData[twitterData['URL'].fillna( value="" ).str.contains( 'facebook.com/profile\.php\?id=')]
twitterDataWithFB['FBID'] = twitterDataWithFB['URL'].str.extract( 'id=(\d+)')
twitterDataWithFB.head()

,Primary Key,Service,Term,Username,Name,Update,Location,URL,Friends,Followers,Time(PDT),City,State/Region,Country,Metro,Latitude,Longitude,FBID
14,15,twitter,lakers,MrBAAD,Tashaun Williams,@goodyCHOOshoes haha im sorry for you then... ...,Miami,http://www.facebook.com/profile.php?id=5141860...,187,143,6/3/2010 17:00,Miami,FL,US,Miami-Fort Lauderdale-Pompano Beach FL,25.604410,-80.335216,514186015
84,85,twitter,lakers,Est_June3rd,Chuck K,hmmm im seein alot of new lakers fans on ma ti...,"Pontiac,MI",http://www.facebook.com/profile.php?id=1060743...,1397,1606,6/3/2010 17:00,Pontiac,MI,US,Detroit-Warren-Livonia MI,42.668599,-83.290343,1060743307
169,170,twitter,lakers,WTFLOCKAA,Vijay Dua,#Lakers Game 1 leeeets fuckkinngggg gooooooo,â WORLDWIDE,http://www.facebook.com/profile.php?id=1567050...,453,299,6/3/2010 17:00,NaN,NaN,NaN,NaN,NaN,NaN,1567050070
173,174,twitter,lakers,SteSSyShOo,SteSsy,RT @LilDip_DreamBoi: ReTweet if you are a Lake...,Guadeloupe French West Indies,http://www.facebook.com/profile.php?id=1000003...,965,292,6/3/2010 17:00,NaN,NaN,NaN,NaN,NaN,NaN,100000382878368
638,639,twitter,lakers,GoodLookTy_BFA,Tyquan Moore,@Relly718 19 to 1 Lakers lol,"Brooklyn, New York",http://www.facebook.com/profile.php?id=551167346,259,339,6/3/2010 17:02,Brooklyn,NY,US,New York-Northern New Jersey-Long Island NY-NJ-PA,40.645412,-73.958730,551167346